<migrosmuseum-a-heading><h2>AGENDA</h2></migrosmuseum-a-heading>
<migrosmuseum-m-agenda>
  <template>
    [{
      "color": "#0E6265",
      "colorHover": "#F8C9DF",
      "backgroundColor": "#F8C9DF",
      "backgroundColorHover": "#0E6265",
      "date": "DO 14.6.",
      "datetime": "2025-06-14",
      "title": "ERÖFFNUNG ACCUMULATION / ZWEITE SEQUENZ",
      "descriptions": [
        "Vernissage",
        "18:00–20:00",
        "jeden letzten Fr im Monat"
      ],
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      }
    },
    {
      "color": "#E0C9A3",
      "colorHover": "#554596",
      "backgroundColor": "#554596",
      "backgroundColorHover": "#E0C9A3",
      "date": "SA 26.7.",
      "datetime": "2025-07-26",
      "title": "ÖFFENTLICHE FÜHRUNG ACCUMULATION",
      "descriptions": [
        "Rundgänge",
        "15:00–16:00"
      ],
      "link": {
        "href": "./oeffentliche",
        "target": "_blank"
      }
    },
    {
      "color": "#394697",
      "colorHover": "#FE9471",
      "backgroundColor": "#FE9471",
      "backgroundColorHover": "#394697",
      "date": "SA 6.8.",
      "datetime": "2025-08-06",
      "title": "DIE LANGE NACHT DER ZÜRCHER MUSEEN",
      "descriptions": [
        "Special",
        "18:00–01:00"
      ],
      "link": {
        "href": "./lange-nacht",
        "target": "_blank"
      }
    },
    {
      "color": "#FFF274",
      "colorHover": "#47784F",
      "backgroundColor": "#47784F",
      "backgroundColorHover": "#FFF274",
      "date": "FR 29.8.",
      "datetime": "2025-08-29",
      "title": "DROP-IN WORKSHOP: REISE IN FARBENFROHE FANTASIEWELTEN!",
      "descriptions": [
        "Kinder und Jugendliche",
        "15:00–18:00"
      ],
      "link": {
        "href": "./drop-in",
        "target": "_blank"
      }
    }]
  </template>
</migrosmuseum-m-agenda>