<migrosmuseum-a-heading h3-mobile shadow><h2>AUSSTELLUNGEN</h2></migrosmuseum-a-heading>
<o-grid namespace="grid-12er-" width="100%">
  <section>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      background="var(--color-scheme-one-background-color);"
      color="var(--color-scheme-one-color);"
      background-hover="var(--color-scheme-one-color);"
      color-hover="var(--color-scheme-one-background-color);"
      style="--grid-12er-a-color: var(--color-scheme-one-color); --grid-12er-a-color-hover: var(--color-scheme-one-background-color);"
      order-mobile="2"
    >
      <h3>ACCUMULATION</h3>
      <h3>14.6.–27.7.25</h3>
      <div class="spacer-two"></div>
      <h6>Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz</h6>
    </a>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      padding="0"
      order-mobile="1"
    >
      <a-picture 
        namespace="picture-scale-up-"
        defaultSource="../../../../img/kommt-rein-1.png"
        picture-load
      ></a-picture>
    </a>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      background="var(--color-scheme-two-background-color);"
      color="var(--color-scheme-two-color);"
      background-hover="var(--color-scheme-two-color);"
      color-hover="var(--color-scheme-two-background-color);"
      style="--grid-12er-a-color: var(--color-scheme-two-color); --grid-12er-a-color-hover: var(--color-scheme-two-background-color);"
      order-mobile="4"
    >
      <h3>LEAP YEAR</h3>
      <h3>27.9.25–18.1.26</h3>
      <div class="spacer-two"></div>
      <h6>Haegue Yang</h6>
    </a>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      padding="0"
      order-mobile="3"
    >
      <a-picture 
        namespace="picture-scale-up-"
        defaultSource="../../../../img/kommt-rein-2.png"
        picture-load
      ></a-picture>
    </a>
  </section>
</o-grid>
<div class="spacer-four"></div>
<migrosmuseum-a-heading shadow><h3>VORSCHAU</h3></migrosmuseum-a-heading>
<o-grid namespace="grid-12er-" width="100%">
  <section>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      background="var(--color-scheme-four-background-color);"
      color="var(--color-scheme-four-color);"
      background-hover="var(--color-scheme-four-color);"
      color-hover="var(--color-scheme-four-background-color);"
      style="--grid-12er-a-color: var(--color-scheme-four-color); --grid-12er-a-color-hover: var(--color-scheme-four-background-color);"
      order-mobile="2"
    >
      <h3>This is HOW THE LIGHT REMEMBERS</h3>
      <h3>21.10.25–18.1.26</h3>
      <div class="spacer-two"></div>
      <h6>Fabian Sul</h6>
    </a>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      padding="0"
      order-mobile="1"
    >
      <a-picture 
        namespace="picture-scale-up-"
        defaultSource="../../../../img/vorschau-1.png"
        picture-load
      ></a-picture>
    </a>
  </section>
</o-grid>
<div class="spacer-four" show-only-desktop></div>
<div class="spacer-four"></div>
<migrosmuseum-a-heading><h3>ARCHIV</h3></migrosmuseum-a-heading>
<o-grid
  namespace="grid-12er-"
  gap="0.5em"
>
  <section>
    <a-select
      col-lg="2"
      col-md="4"
      col-sm="6"
      padding="0"
      min-height="100%"
      chevron-down
      selected="request-exhibition-filter-year"
      answer-event-name="exhibition-filter-year"
    >
      <select
        id="year"
        name="Jahr"
      >
        <option selected value="">Jahr</option>
        <option value="2025">2025</option>
        <option value="2024">2024</option>
        <option value="2023">2023</option>
      </select>
    </a-select>
    <a-input
      col-lg="2"
      col-md="4"
      col-sm="6"
      padding="0"
      min-height="100%"
      placeholder="Suche"
      search
      submit-search="request-exhibition-filter-text"
      answer-event-name="exhibition-filter-text"
      any-key-listener
      delete-listener
      type="search"
    ></a-input>
  </section>
</o-grid>
<migrosmuseum-m-exhibition>
  <template>
    [{
      "dateFrom": "14.6.",
      "dateTo": "27.7.25",
      "datetimeFrom": "2025-06-14",
      "datetimeTo": "2025-07-25",
      "defaultSource": "../../../../img/kommt-rein-1.png",
      "title": "ACCUMULATION",
      "description": "Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz",
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      },
      "clusterBy": "2025"
    },
    {
      "dateFrom": "14.6.",
      "dateTo": "27.7.25",
      "datetimeFrom": "2025-06-14",
      "datetimeTo": "2025-07-25",
      "defaultSource": "../../../../img/kommt-rein-2.png",
      "title": "DINEO SESHEE RAISBE BOPAPE",
      "description": "Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz",
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      },
      "clusterBy": "2025"
    },
    {
      "dateFrom": "14.6.",
      "dateTo": "27.7.24",
      "datetimeFrom": "2024-06-14",
      "datetimeTo": "2024-07-25",
      "defaultSource": "../../../../img/kommt-rein-1.png",
      "title": "ACCUMULATION",
      "description": "Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz",
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      },
      "clusterBy": "2024"
    },
    {
      "dateFrom": "14.6.",
      "dateTo": "27.7.24",
      "datetimeFrom": "2024-06-14",
      "datetimeTo": "2024-07-25",
      "defaultSource": "../../../../img/kommt-rein-2.png",
      "title": "DINEO SESHEE RAISBE BOPAPE",
      "description": "Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz",
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      },
      "clusterBy": "2024"
    },
    {
      "dateFrom": "14.6.",
      "dateTo": "27.7.24",
      "datetimeFrom": "2024-06-14",
      "datetimeTo": "2024-07-25",
      "defaultSource": "../../../../img/kommt-rein-1.png",
      "title": "ACCUMULATION",
      "description": "Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz",
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      },
      "clusterBy": "2024"
    },
    {
      "dateFrom": "14.6.",
      "dateTo": "27.7.24",
      "datetimeFrom": "2024-06-14",
      "datetimeTo": "2024-07-25",
      "defaultSource": "../../../../img/kommt-rein-1.png",
      "title": "ACCUMULATION",
      "description": "Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz",
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      },
      "clusterBy": "2024"
    },
    {
      "dateFrom": "14.6.",
      "dateTo": "27.7.24",
      "datetimeFrom": "2024-06-14",
      "datetimeTo": "2024-07-25",
      "defaultSource": "../../../../img/kommt-rein-2.png",
      "title": "DINEO SESHEE RAISBE BOPAPE",
      "description": "Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz",
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      },
      "clusterBy": "2024"
    },
    {
      "dateFrom": "14.6.",
      "dateTo": "27.7.24",
      "datetimeFrom": "2024-06-14",
      "datetimeTo": "2024-07-25",
      "defaultSource": "../../../../img/kommt-rein-1.png",
      "title": "ACCUMULATION",
      "description": "Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz",
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      },
      "clusterBy": "2024"
    },
    {
      "dateFrom": "14.6.",
      "dateTo": "27.7.23",
      "datetimeFrom": "2023-06-14",
      "datetimeTo": "2023-07-25",
      "defaultSource": "../../../../img/kommt-rein-1.png",
      "title": "ACCUMULATION",
      "description": "Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz",
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      },
      "clusterBy": "2023"
    },
    {
      "dateFrom": "14.6.",
      "dateTo": "27.7.23",
      "datetimeFrom": "2023-06-14",
      "datetimeTo": "2023-07-25",
      "defaultSource": "../../../../img/kommt-rein-2.png",
      "title": "DINEO SESHEE RAISBE BOPAPE",
      "description": "Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz",
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      },
      "clusterBy": "2023"
    },
    {
      "dateFrom": "14.6.",
      "dateTo": "27.7.23",
      "datetimeFrom": "2023-06-14",
      "datetimeTo": "2023-07-25",
      "defaultSource": "../../../../img/kommt-rein-1.png",
      "title": "ACCUMULATION",
      "description": "Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz",
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      },
      "clusterBy": "2023"
    },
    {
      "dateFrom": "14.6.",
      "dateTo": "27.7.23",
      "datetimeFrom": "2023-06-14",
      "datetimeTo": "2023-07-25",
      "defaultSource": "../../../../img/kommt-rein-1.png",
      "title": "ACCUMULATION",
      "description": "Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz",
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      },
      "clusterBy": "2023"
    },
    {
      "dateFrom": "14.6.",
      "dateTo": "27.7.23",
      "datetimeFrom": "2023-06-14",
      "datetimeTo": "2023-07-25",
      "defaultSource": "../../../../img/kommt-rein-2.png",
      "title": "DINEO SESHEE RAISBE BOPAPE",
      "description": "Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz",
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      },
      "clusterBy": "2023"
    },
    {
      "dateFrom": "14.6.",
      "dateTo": "27.7.23",
      "datetimeFrom": "2023-06-14",
      "datetimeTo": "2023-07-25",
      "defaultSource": "../../../../img/kommt-rein-1.png",
      "title": "ACCUMULATION",
      "description": "Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz",
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      },
      "clusterBy": "2023"
    }]
  </template>
</migrosmuseum-m-exhibition>
