<migrosmuseum-a-heading h3-mobile shadow><h2>AUSSTELLUNGEN</h2></migrosmuseum-a-heading>
<o-grid namespace="grid-12er-" width="100%">
  <section>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      background="var(--color-scheme-one-background-color);"
      color="var(--color-scheme-one-color);"
      background-hover="var(--color-scheme-one-color);"
      color-hover="var(--color-scheme-one-background-color);"
      style="--grid-12er-a-color: var(--color-scheme-one-color); --grid-12er-a-color-hover: var(--color-scheme-one-background-color);"
      order-mobile="2"
    >
      <h3>ACCUMULATION</h3>
      <h3>14.6.–27.7.25</h3>
      <div class="spacer-two"></div>
      <h6>Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz</h6>
    </a>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      padding="0"
      order-mobile="1"
    >
      <a-picture 
        namespace="picture-scale-up-"
        defaultSource="../../../../img/kommt-rein-1.png"
        picture-load
      ></a-picture>
    </a>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      background="var(--color-scheme-two-background-color);"
      color="var(--color-scheme-two-color);"
      background-hover="var(--color-scheme-two-color);"
      color-hover="var(--color-scheme-two-background-color);"
      style="--grid-12er-a-color: var(--color-scheme-two-color); --grid-12er-a-color-hover: var(--color-scheme-two-background-color);"
      order-mobile="4"
    >
      <h3>LEAP YEAR</h3>
      <h3>27.9.25–18.1.26</h3>
      <div class="spacer-two"></div>
      <h6>Haegue Yang</h6>
    </a>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      padding="0"
      order-mobile="3"
    >
      <a-picture 
        namespace="picture-scale-up-"
        defaultSource="../../../../img/kommt-rein-2.png"
        picture-load
      ></a-picture>
    </a>
  </section>
</o-grid>
<div class="spacer-four"></div>
<migrosmuseum-a-heading shadow><h3>VORSCHAU</h3></migrosmuseum-a-heading>
<o-grid namespace="grid-12er-" width="100%">
  <section>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      background="var(--color-scheme-four-background-color);"
      color="var(--color-scheme-four-color);"
      background-hover="var(--color-scheme-four-color);"
      color-hover="var(--color-scheme-four-background-color);"
      style="--grid-12er-a-color: var(--color-scheme-four-color); --grid-12er-a-color-hover: var(--color-scheme-four-background-color);"
      order-mobile="2"
    >
      <h3>This is HOW THE LIGHT REMEMBERS</h3>
      <h3>21.10.25–18.1.26</h3>
      <div class="spacer-two"></div>
      <h6>Fabian Sul</h6>
    </a>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      padding="0"
      order-mobile="1"
    >
      <a-picture 
        namespace="picture-scale-up-"
        defaultSource="../../../../img/vorschau-1.png"
        picture-load
      ></a-picture>
    </a>
  </section>
</o-grid>
<div class="spacer-four" show-only-desktop></div>
<div class="spacer-four"></div>
<migrosmuseum-a-heading><h3>ARCHIV</h3></migrosmuseum-a-heading>
<migrosmuseum-m-tag-list>
  <a-button
    namespace="button-secondary-"
    class=active
    answer-event-name="agenda-filter"
    request-event-name="request-agenda-filter"
    tag="all"
  >Jahr</a-button>
  <a-button
    namespace="button-secondary-"
    answer-event-name="agenda-filter"
    request-event-name="request-agenda-filter"
    tag="performance"
  >Suche</a-button>
</migrosmuseum-m-tag-list>
<div class="spacer-four"></div>
<migrosmuseum-a-heading shadow><h3>2025</h3></migrosmuseum-a-heading>
<o-grid
  namespace="grid-12er-"
  width="100%"
  background="var(--color-scheme-four-background-color);"
>
  <section>
    <m-teaser
      namespace=teaser-tile-
      href="#"
      col-lg="4"
      col-sm="6"
      padding="0"
    >
      <figure>
        <a-picture namespace="picture-teaser-" picture-load defaultSource="../../../../img/kommt-rein-1.png"></a-picture>
        <figcaption>
          <p>14.6.–27.7.25</p>
          <h5>ACCUMULATION</h5>
          <p>Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz</p>
        </figcaption>
      </figure>
    </m-teaser>
    <m-teaser
      namespace=teaser-tile-
      href="#"
      col-lg="4"
      col-sm="6"
      padding="0"
    >
      <figure>
        <a-picture namespace="picture-teaser-" picture-load defaultSource="../../../../img/kommt-rein-2.png"></a-picture>
        <figcaption>
          <p>14.6.–27.7.25</p>
          <h5>DINEO SESHEE RAISBE BOPAPE</h5>
          <p>Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz</p>
        </figcaption>
      </figure>
    </m-teaser>
  </section>
</o-grid>
<migrosmuseum-m-exhibition>
  <template>
    [{
      "color": "#0E6265",
      "colorHover": "#F8C9DF",
      "backgroundColor": "#F8C9DF",
      "backgroundColorHover": "#0E6265",
      "date": "DO 14.7.",
      "datetime": "2025-07-14",
      "title": "ERÖFFNUNG ACCUMULATION / ZWEITE SEQUENZ",
      "descriptions": [
        "Vernissage",
        "18:00–20:00",
        "jeden letzten Fr im Monat"
      ],
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      },
      "clusterBy": "Juli",
      "tags": [
        "talks-und-diskussionen",
        "vernissage"
      ]
    }]
  </template>
</migrosmuseum-m-exhibition>
