<migrosmuseum-a-heading shadow crop sticky picture-load><h1>Kommt rein</h1></migrosmuseum-a-heading>
<o-grid namespace="grid-12er-" width="100%" picture-load>
  <section>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      background="var(--color-scheme-one-background-color);"
      color="var(--color-scheme-one-color);"
      background-hover="var(--color-scheme-one-color);"
      color-hover="var(--color-scheme-one-background-color);"
      style="--grid-12er-a-color: var(--color-scheme-one-color); --grid-12er-a-color-hover: var(--color-scheme-one-background-color);"
      order-mobile="2"
    >
      <h3>ACCUMULATION</h3>
      <h3>14.6.–27.7.25</h3>
      <a-spacer spacer-two></a-spacer>
      <h6>Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz</h6>
    </a>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      padding="0"
      order-mobile="1"
    >
      <a-picture 
        namespace="picture-scale-up-"
        defaultSource="../../../../img/kommt-rein-1.png"
        picture-load
      ></a-picture>
    </a>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      background="var(--color-scheme-two-background-color);"
      color="var(--color-scheme-two-color);"
      background-hover="var(--color-scheme-two-color);"
      color-hover="var(--color-scheme-two-background-color);"
      style="--grid-12er-a-color: var(--color-scheme-two-color); --grid-12er-a-color-hover: var(--color-scheme-two-background-color);"
      order-mobile="4"
    >
      <h3>LEAP YEAR</h3>
      <h3>27.9.25–18.1.26</h3>
      <a-spacer spacer-two></a-spacer>
      <h6>Haegue Yang</h6>
    </a>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      padding="0"
      order-mobile="3"
    >
      <a-picture 
        namespace="picture-scale-up-"
        defaultSource="../../../../img/kommt-rein-2.png"
        picture-load
      ></a-picture>
    </a>
  </section>
</o-grid>
<migrosmuseum-a-marquee namespace="marquee-"><h5>TICKER ALLGEMEINE INFO ZUM MUSEUM – ALLGEMEINE INFO ZUM MUSEUM – TICKER ALLGEMEINE INFO ZUM MUSEUM – ALLGEMEINE INFO ZUM MUSEUM - TICKER ALLGEMEINE INFO ZUM MUSEUM – ALLGEMEINE INFO ZUM MUSEUM – TICKER ALLGEMEINE INFO ZUM MUSEUM – ALLGEMEINE INFO ZUM MUSEUM</h5></migrosmuseum-a-marquee>
<a-spacer spacer-four></a-spacer>
<migrosmuseum-a-heading><h3>AGENDA</h3></migrosmuseum-a-heading>
<migrosmuseum-m-agenda>
  <template>
    [{
      "color": "#0E6265",
      "colorHover": "#F8C9DF",
      "backgroundColor": "#F8C9DF",
      "backgroundColorHover": "#0E6265",
      "date": "DO 14.6.",
      "datetime": "2025-06-14",
      "title": "ERÖFFNUNG ACCUMULATION / ZWEITE SEQUENZ",
      "descriptions": [
        "Vernissage",
        "18:00–20:00",
        "jeden letzten Fr im Monat"
      ],
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      }
    },
    {
      "color": "#E0C9A3",
      "colorHover": "#554596",
      "backgroundColor": "#554596",
      "backgroundColorHover": "#E0C9A3",
      "date": "SA 26.7.",
      "datetime": "2025-07-26",
      "title": "ÖFFENTLICHE FÜHRUNG ACCUMULATION",
      "descriptions": [
        "Rundgänge",
        "15:00–16:00"
      ],
      "link": {
        "href": "./oeffentliche",
        "target": "_blank"
      }
    },
    {
      "color": "#394697",
      "colorHover": "#FE9471",
      "backgroundColor": "#FE9471",
      "backgroundColorHover": "#394697",
      "date": "SA 6.8.",
      "datetime": "2025-08-06",
      "title": "DIE LANGE NACHT DER ZÜRCHER MUSEEN",
      "descriptions": [
        "Special",
        "18:00–01:00"
      ],
      "link": {
        "href": "./lange-nacht",
        "target": "_blank"
      }
    },
    {
      "color": "#FFF274",
      "colorHover": "#47784F",
      "backgroundColor": "#47784F",
      "backgroundColorHover": "#FFF274",
      "date": "FR 29.8.",
      "datetime": "2025-08-29",
      "title": "DROP-IN WORKSHOP: REISE IN FARBENFROHE FANTASIEWELTEN!",
      "descriptions": [
        "Kinder und Jugendliche",
        "15:00–18:00"
      ],
      "link": {
        "href": "./drop-in",
        "target": "_blank"
      }
    }]
  </template>
  <migrosmuseum-a-link href="./show-all-events/" tag-name="h5">ALLE VERANSTALTUNGEN</migrosmuseum-a-link>
</migrosmuseum-m-agenda>
<a-spacer spacer-three></a-spacer>
<migrosmuseum-a-heading shadow><h3>MUSEUM</h3></migrosmuseum-a-heading>
<o-grid namespace="grid-12er-" width="100%" picture-load>
  <section>
    <div
      col-lg="6"
      col-sm="12"
      order-mobile="2"
    >
      <h5>Die ganze Sammlung jetzt online entdecken</h5>
      <a-spacer spacer-two></a-spacer>
      <migrosmuseum-a-link href="./collection/">zur Sammlung</migrosmuseum-a-link>
    </div>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      padding="0"
      order-mobile="1"
    >
      <a-picture 
        namespace="picture-scale-up-"
        defaultSource="../../../../img/kommt-rein-3.png"
        picture-load
      ></a-picture>
    </a>
    <hr col-lg="12" order-mobile="3" class="full-width" padding="0">
    <div
      col-lg="6"
      col-sm="12"
      order-mobile="4"
      padding-bottom-mobile="0"
    >
      <h5>Yasmin Naderi Afschar neu in der Co-Leitung</h5>
      <a-spacer height="10em" height-mobile="0"></a-spacer>
    </div>
    <div
      col-lg="6"
      col-sm="12"
      order-mobile="5"
      padding-left="0"
      padding-top-mobile="0.5em"
    >
      <h6>Per August 2025 übernimmt sie die Leitung des Fachbereichs «Ausstellungen».</h6>
      <migrosmuseum-a-link href="./media/">Medienmitteilung</migrosmuseum-a-link>
    </div>
    <hr col-lg="12" order-mobile="6" class="full-width" padding="0">
    <div
      col-lg="6"
      col-sm="12"
      order-mobile="7"
      padding-bottom-mobile="0"
    >
      <h5>Umbau im Sommer</h5>
      <a-spacer spacer-one></a-spacer>
    </div>
    <div
      col-lg="6"
      col-sm="12"
      order-mobile="8"
      padding-left="0"
      padding-top-mobile="0.5em"
    >
      <h6>Um unseren Stromverbrauch zu reduzieren, wird das Beleuchtungssystem im Migros Museum für Gegenwartskunst auf energieeffiziente LED-Leuchtmittel umgerüstet. Aufgrund des Umbaus bleibt das Museum ab dem 27. Juli für mehrere Wochen geschlossen.</h6>
    </div>
  </section>
</o-grid>