<a-spacer height="7.2em" height-mobile="0em"></a-spacer>







<migrosmuseum-a-heading shadow sticky crop picture-load>
  <h1>Kommt rein</h1>
</migrosmuseum-a-heading>


<o-grid namespace="grid-12er-" background="#ffffff" padding=0em padding-mobile=0em gap=0px gap-mobile=0px width=100%
  width-mobile=100% picture-load>
  <section>




    <div col-lg="12" col-md="12" col-sm="12" row-lg="1" row-md="1" row-sm="1" padding="0" padding-mobile="0">










      <o-grid namespace="grid-12er-" background="#ffffff" padding=0em padding-mobile=0em gap=0px gap-mobile=0px
        picture-load>
        <section>
          <div col-lg="6" col-md="6" col-sm="12" row-lg="1" row-md="1" row-sm="1">





            <style protected>
              :host {
                
                
              }

              :host :host {
                
                
              }
            </style>


            <div id="rte-1188770669">

              <style protected>
                :host div:has(> div#rte-1188770669) {
                  color: #e5f522;
                  --h-color: #e5f522;
                  background-color: #7124a7;
                  height: 100%;
                }

                :host div:has(> div#rte-1188770669) a {
                  --a-color-hover: #e5f522;
                  --a-color: #e5f522;
                }
              </style>

              <a href='/sammlung' target='' style='height:100%;display:block;'>
                <!-- style doubled -->
                <style protected>
                  :host div:has(> div#rte-1188770669):hover {
                    color: #7124a7;
                    --h-color: #7124a7;
                    background-color: #e5f522;
                  }

                  :host div:has(> div#rte-1188770669):hover a {
                    --a-color-hover: #7124a7;
                    --a-color: #7124a7;
                  }
                </style>

                <h3>LEAP YEAR</h3>
                <h3>27.9.25-18.1.26</h3>
                <p>Haegue Yang</p>

              </a>
            </div>


          </div>
          <div col-lg="6" col-md="6" col-sm="12" row-lg="1" row-md="1" row-sm="1">






            <a href=/sammlung target=class='no-icon'><a-picture namespace="picture-scale-up-" alt="Kommt Rein 2"
                defaultSource="https://testadmin.migrosmuseum.ch/media/di0ffw0h/kommt-rein-2.png?format=webp&amp;width=1854&amp;quality=80"
                sources-keep-query-aspect-ratio="" no-bad-quality="true" aspect-ratio="1" aspect-ratio="1"
                style="--img-object-position: center center;--picture-scale-up-img-object-fit: cover;--picture-scale-up-border-radius: 0em;"
                picture-load=""></a-picture>

            </a>


          </div>

        </section>
      </o-grid>
    </div>


    <div col-lg="6" col-md="6" col-sm="12" row-lg="1" row-md="1" row-sm="1" padding="0" padding-mobile="0">




      <style protected>
        :host {
          
          
        }

        :host :host {
          
          
        }
      </style>


      <div id="rte-1404202537">

        <style protected>
          :host div#rte-1404202537 {
            color: #e5f522;
            --h-color: #e5f522;
            background-color: #7124a7;
            height: 100%;
          }

          :host div#rte-1404202537 a {
            --a-color-hover: #e5f522;
            --a-color: #e5f522;
          }
        </style>

        <a href='/sammlung' target='' style='height:100%;display:block;'>

          <style protected>
            :host div#rte-1404202537:hover {
              color: #7124a7;
              --h-color: #7124a7;
              background-color: #e5f522;
            }

            :host div#rte-1404202537:hover a {
              --a-color-hover: #7124a7;
              --a-color: #7124a7;
            }
          </style>

          <h3>LEAP YEAR</h3>
          <h3>27.9.25-18.1.26</h3>
          <p>Haegue Yang</p>

        </a>
      </div>
    </div>


    <div col-lg="6" col-md="6" col-sm="12" row-lg="1" row-md="1" row-sm="1">





      <a href=/sammlung target=class='no-icon'><a-picture namespace="picture-scale-up-" alt="Kommt Rein 2"
          defaultSource="https://testadmin.migrosmuseum.ch/media/di0ffw0h/kommt-rein-2.png?format=webp&amp;width=1854&amp;quality=80"
          sources-keep-query-aspect-ratio="" no-bad-quality="true" aspect-ratio="1" aspect-ratio="1"
          style="--img-object-position: center center;--picture-scale-up-img-object-fit: cover;--picture-scale-up-border-radius: 0em;"
          picture-load=""></a-picture>

      </a>
    </div>


    <div col-lg="6" col-md="6" col-sm="12" row-lg="1" row-md="1" row-sm="1">




      <style protected>
        :host {
          
          
        }

        :host :host {
          
          
        }
      </style>


      <div id="rte-785168979">

        <style protected>
          :host div#rte-785168979 {
            color: #5b5b5b;
            --h-color: #5b5b5b;
            background-color: #bfe9ff;
            height: 100%;
          }

          :host div#rte-785168979 a {
            --a-color-hover: #5b5b5b;
            --a-color: #5b5b5b;
          }
        </style>

        <a href='/sammlung' target='' style='height:100%;display:block;'>

          <style protected>
            :host div#rte-785168979:hover {
              color: #bfe9ff;
              --h-color: #bfe9ff;
              background-color: #5b5b5b;
            }

            :host div#rte-785168979:hover a {
              --a-color-hover: #bfe9ff;
              --a-color: #bfe9ff;
            }
          </style>

          <h3>ACCUMULATION</h3>
          <h3>14.6.25-27.7.25</h3>
          <p>Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz</p>

        </a>
      </div>
    </div>


    <div col-lg="6" col-md="6" col-sm="12" row-lg="1" row-md="1" row-sm="1">





      <a href=/sammlung target=class='no-icon'><a-picture namespace="picture-scale-up-" alt="Kommt Rein 1"
          defaultSource="https://testadmin.migrosmuseum.ch/media/eyga41bg/kommt-rein-1.png?format=webp&amp;width=1456&amp;quality=80"
          sources-keep-query-aspect-ratio="" no-bad-quality="true" aspect-ratio="1" aspect-ratio="1"
          style="--img-object-position: center center;--picture-scale-up-img-object-fit: cover;--picture-scale-up-border-radius: 0em;"
          picture-load=""></a-picture>

      </a>
    </div>

  </section>
</o-grid>






<migrosmuseum-a-marquee namespace="marquee-">
  <h5>TICKER ALLGEMEINE INFO ZUM MUSEUM &#x2013; ALLGEMEINE INFO ZUM MUSEUM &#x2013; TICKER ALLGEMEINE INFO ZUM MUSEUM
    &#x2013; ALLGEMEINE INFO ZUM MUSEUM - TICKER ALLGEMEINE INFO ZUM MUSEUM &#x2013; ALLGEMEINE INFO ZUM MUSEUM &#x2013;
    TICKER ALLGEMEINE INFO ZUM MUSEUM &#x2013; ALLGEMEINE INFO ZUM MUSEUM</h5>
</migrosmuseum-a-marquee>
<a-spacer spacer-three></a-spacer>





<migrosmuseum-a-heading shadow sticky>
  <h3>AGENDA</h3>
</migrosmuseum-a-heading>




<migrosmuseum-m-agenda>
  <template>
    [{&quot;color&quot;:&quot;#e5f522&quot;,&quot;colorHover&quot;:&quot;#7124a7&quot;,&quot;backgroundColor&quot;:&quot;#7124a7&quot;,&quot;backgroundColorHover&quot;:&quot;#e5f522&quot;,&quot;date&quot;:&quot;DO
    11.6.&quot;,&quot;datetime&quot;:&quot;2026-06-11&quot;,&quot;title&quot;:&quot;14.6
    Er\u00F6ffnung&quot;,&quot;clusterBy&quot;:&quot;&quot;,&quot;descriptions&quot;:[&quot;Buchpr\u00E4sentation&quot;,&quot;18:00\u201320:00&quot;],&quot;tags&quot;:[&quot;buchpr\u00E4sentation&quot;],&quot;link&quot;:{&quot;href&quot;:&quot;./programm/agenda/146-eroeffnung&quot;,&quot;target&quot;:&quot;_self&quot;}},{&quot;color&quot;:&quot;#5b5b5b&quot;,&quot;colorHover&quot;:&quot;#bfe9ff&quot;,&quot;backgroundColor&quot;:&quot;#bfe9ff&quot;,&quot;backgroundColorHover&quot;:&quot;#5b5b5b&quot;,&quot;date&quot;:&quot;SO
    14.6.&quot;,&quot;datetime&quot;:&quot;2026-06-14&quot;,&quot;title&quot;:&quot;14.6 Er\u00F6ffnung
    Accumulation&quot;,&quot;clusterBy&quot;:&quot;&quot;,&quot;descriptions&quot;:[&quot;Vernissage&quot;,&quot;18:00\u201320:00&quot;],&quot;tags&quot;:[&quot;vernissage&quot;],&quot;link&quot;:{&quot;href&quot;:&quot;./programm/agenda/146-eroeffnung-accumulation&quot;,&quot;target&quot;:&quot;_self&quot;}}]
  </template>
</migrosmuseum-m-agenda>
<migrosmuseum-a-link href="/programm/agenda" tag-name="h5">ALLE VERANSTALTUNGEN</migrosmuseum-a-link>




<a-spacer height="5.6em" height-mobile="0em"></a-spacer>







<migrosmuseum-a-heading shadow sticky>
  <h3>MUSEUM</h3>
</migrosmuseum-a-heading>


<o-grid namespace="grid-12er-" background="#ffffff" padding=0em padding-mobile=0em gap=0px gap-mobile=0px width=100%
  width-mobile=100%>
  <section>




    <div col-lg="12" col-md="12" col-sm="12" row-lg="1" row-md="1" row-sm="1">










      <o-grid namespace="grid-12er-" background="#ffffff" padding=0em padding-mobile=0em gap=0px gap-mobile=0px
        picture-load>
        <section>
          <div col-lg="6" col-md="6" col-sm="12" row-lg="3" row-md="3" row-sm="1">





            <style protected>
              :host {
                
                
              }

              :host :host {
                
                
              }
            </style>


            <div>
              <h3>Die ganze Sammlung jetzt online entdecken</h3>



              <migrosmuseum-a-link href="_self" tag-name="h5" icon-name="">
                Zur Sammlung
              </migrosmuseum-a-link>
            </div>


          </div>
          <div col-lg="6" col-md="6" col-sm="12" row-lg="3" row-md="3" row-sm="1">






            <a-picture namespace="" alt="Museum 1"
              defaultSource="https://testadmin.migrosmuseum.ch/media/n2alk2or/museum-1.png?format=webp&amp;width=1596&amp;quality=80"
              sources-keep-query-aspect-ratio="" no-bad-quality="true" aspect-ratio="0.7518797" aspect-ratio="0.7518797"
              style="--img-object-position: center center;--border-radius: 0em;" picture-load=""></a-picture>




          </div>

        </section>
      </o-grid>
    </div>
    <hr col-lg="12" class="full-width" padding="0" />


    <div col-lg="12" col-md="12" col-sm="12" row-lg="1" row-md="1" row-sm="1">










      <o-grid namespace="grid-12er-" background="#ffffff" padding=0em padding-mobile=0em gap=0px gap-mobile=0px>
        <section>
          <div col-lg="6" col-md="6" col-sm="12" row-lg="1" row-md="1" row-sm="1">





            <style protected>
              :host {
                
                
              }

              :host :host {
                
                
              }
            </style>


            <div>
              <h3>Yasmin Naderi Afschar neu in der Co-Leitung</h3>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
            </div>


          </div>
          <div col-lg="6" col-md="6" col-sm="12" row-lg="1" row-md="1" row-sm="1">





            <style protected>
              :host {
                
                
              }

              :host :host {
                
                
              }
            </style>


            <div>
              <p>Per August 2025 übernimmt sie die Leitung des Fachbereichs «Ausstellungen».</p>



              <migrosmuseum-a-link href="_self" tag-name="h5" icon-name="">
                Medienmitteilung
              </migrosmuseum-a-link>
            </div>


          </div>

        </section>
      </o-grid>
    </div>
    <hr col-lg="12" class="full-width" padding="0" />


    <div col-lg="12" col-md="12" col-sm="12" row-lg="1" row-md="1" row-sm="1">










      <o-grid namespace="grid-12er-" background="#ffffff" padding=0em padding-mobile=0em gap=0px gap-mobile=0px>
        <section>
          <div col-lg="6" col-md="6" col-sm="12" row-lg="2" row-md="2" row-sm="1">





            <style protected>
              :host {
                
                
              }

              :host :host {
                
                
              }
            </style>


            <div>
              <h3>Umbau im Sommer</h3>
            </div>


          </div>
          <div col-lg="6" col-md="6" col-sm="12" row-lg="1" row-md="1" row-sm="1">





            <style protected>
              :host {
                
                
              }

              :host :host {
                
                
              }
            </style>


            <div>
              <p>Um unseren Stromverbrauch zu reduzieren, wird das Beleuchtungssystem im Migros Museum für
                Gegenwartskunst auf energieeffiziente LED-Leuchtmittel umgerüstet. Aufgrund des Umbaus bleibt das Museum
                ab dem 27. Juli für mehrere Wochen geschlossen.</p>
            </div>


          </div>

        </section>
      </o-grid>
    </div>
    <hr col-lg="12" class="full-width" padding="0" />

  </section>
</o-grid>