<migrosmuseum-a-heading shadow crop sticky picture-load><h1>Kommt rein</h1></migrosmuseum-a-heading>
<o-grid namespace="grid-12er-" width="100%" picture-load>
    <section>
      <div
        col-lg="6"
        col-sm="12"
        background="var(--color-scheme-one-background-color);"
        color="var(--color-scheme-one-color);"
        style="--grid-12er-h-color: var(--color-scheme-one-color);"
        order-mobile="1"
      >
      <h3>ACCUMULATION</h3>
      <h3>14.6.–27.7.25</h3>
      <p>Über Ansammeln, Wachstum und Überfluss, Zweite Sequenz</p>
    </div>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      background="center / cover url(../../../../img/kommt-rein-1.png)"
      style="aspect-ratio: 1/1;"
      order-mobile="0"
    >
    </a>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      background="var(--color-scheme-two-background-color);"
      color="var(--color-scheme-two-color);"
      style="--grid-12er-h-color: var(--color-scheme-two-color); --a-color: var(--color-scheme-two-color);"
      order-mobile="3"
    >
      <h3>LEAP YEAR</h3>
      <h3>27.9.25–18.1.26</h3>
      <p>Haegue Yang</p>
    </a>
    <a
      href="#"
      col-lg="6"
      col-sm="12"
      style="aspect-ratio: 1/1;"
      padding="0"
      order-mobile="2"
    >
      <a-picture 
      namespace="picture-grid-"
      defaultSource="../../../../img/kommt-rein-2.png"
      picture-load
      ></a-picture>
    </a>
  </section>
</o-grid>
<migrosmuseum-a-marquee namespace="marquee-"><h5>TICKER ALLGEMEINE INFO ZUM MUSEUM – ALLGEMEINE INFO ZUM MUSEUM – TICKER ALLGEMEINE INFO ZUM MUSEUM – ALLGEMEINE INFO ZUM MUSEUM - TICKER ALLGEMEINE INFO ZUM MUSEUM – ALLGEMEINE INFO ZUM MUSEUM – TICKER ALLGEMEINE INFO ZUM MUSEUM – ALLGEMEINE INFO ZUM MUSEUM</h5></migrosmuseum-a-marquee>
<div class="spacer-four"></div>
<migrosmuseum-a-heading shadow><h2>AGENDA</h2></migrosmuseum-a-heading>
<migrosmuseum-m-agenda>
  <template>
    [{
      "color": "#0E6265",
      "backgroundColor": "#F8C9DF",
      "date": "DO 14.6.",
      "datetime": "2025-06-14",
      "title": "ERÖFFNUNG ACCUMULATION / ZWEITE SEQUENZ",
      "descriptions": [
        "Vernissage",
        "18:00–20:00",
        "jeden letzten Fr im Monat"
      ],
      "link": {
        "href": "./eroeffnung",
        "target": "_self"
      }
    },
    {
      "color": "#E0C9A3",
      "backgroundColor": "#554596",
      "date": "SA 26.7.",
      "datetime": "2025-07-26",
      "title": "öffentliche führung Accumulation",
      "descriptions": [
        "Rundgänge",
        "15:00–16:00"
      ],
      "link": {
        "href": "./oeffentliche",
        "target": "_blank"
      }
    }]
  </template>
  <a href="./show-all-events/"><h5><a-icon-mdx icon-name="ArrowRight" size="1.5em" hover-on-parent-element></a-icon-mdx>ALLE VERANSTALTUNGEN</h5></a>
</migrosmuseum-m-agenda>
<div class="spacer-four"></div>
<migrosmuseum-a-heading shadow><h2>MUSEUM</h2></migrosmuseum-a-heading>