<migrosmuseum-a-link data-test="text-arrow-left" href="#" tag-name="h3">← Download</migrosmuseum-a-link>
<migrosmuseum-a-link data-test="text-arrow-right" href="#" tag-name="h3">→ Download</migrosmuseum-a-link>
<migrosmuseum-a-link data-test="text-arrow-up" href="#" tag-name="h3">↑ Download</migrosmuseum-a-link>
<migrosmuseum-a-link data-test="text-arrow-down" href="#" tag-name="h3">↓ Download</migrosmuseum-a-link>
<migrosmuseum-a-link data-test="text-arrow-up-right" href="#" tag-name="h3">↗ Download</migrosmuseum-a-link>
<migrosmuseum-a-link data-test="default-arrow" href="#" tag-name="h3">Download</migrosmuseum-a-link>
