<migrosmuseum-a-heading h3-mobile><h2>MUSEUM</h2></migrosmuseum-a-heading>
<p class="font-size-big">Das Migros Museum für Gegenwartskunst führt seit seiner Gründung 1996 eine fortlaufende Diskussion über zentrale Fragen der Gegenwart, angeregt durch Positionen und Werke internationaler zeitgenössischer Künstler*innen.</p>
<migrosmuseum-a-link href="./more/" tag-name="h5" icon-name="Plus">MEHR</migrosmuseum-a-link>
<o-grid namespace="grid-12er-" width="100%" picture-load>
  <section>
    <hr col-lg="12" class="full-width" padding="0">
    <div
      col-lg="6"
      col-sm="12"
      padding-bottom-mobile="0"
    >
      <h5>Öffnungszeiten</h5>
      <a-spacer height="10em" height-mobile="0"></a-spacer>
    </div>
    <div
      col-lg="6"
      col-sm="12"
      padding-left="0"
      padding-top-mobile="0.5em"
    >
      <h6>Di/Mi/Fr/Sa/So 11–18 Uhr<br>Do 11–20 Uhr<br>Feiertage</h6>
    </div>
    <hr col-lg="12" class="full-width" padding="0">
    <div
      col-lg="6"
      col-sm="12"
      padding-bottom-mobile="0"
    >
      <h5>Freier Eintritt</h5>
      <a-spacer height="10em" height-mobile="0"></a-spacer>
    </div>
    <div
      col-lg="6"
      col-sm="12"
      padding-left="0"
      padding-top-mobile="0.5em"
    >
      <h6>Mit dem freien Eintritt setzt das Migros Museum für Gegenwartskunst ein Zeichen für einen offenen Zugang zu Kultur.</h6>
    </div>
    <hr col-lg="12" class="full-width" padding="0">
    <div
      col-lg="6"
      col-sm="12"
      padding-bottom-mobile="0"
    >
      <h5>Anreise</h5>
      <a-spacer height="10em" height-mobile="0"></a-spacer>
    </div>
    <div
      col-lg="6"
      col-sm="12"
      padding-left="0"
      padding-top-mobile="0.5em"
    >
      <h6>Verkehrsmitteln:Tramhaltestelle Löwenbräu (Tramlinien 4, 13 oder 17) Mit der ZürichCard ist die Fahrt zum Migros Museum für Gegenwartskunst mit allen öffentlichen Verkehrsmitteln gratis</h6>
    </div>
    <hr col-lg="12" class="full-width" padding="0">
    <div
      col-lg="6"
      col-sm="12"
      padding-bottom-mobile="0"
    >
      <h5>Zugänglichkeit</h5>
      <a-spacer height="10em" height-mobile="0"></a-spacer>
    </div>
    <div
      col-lg="6"
      col-sm="12"
      padding-left="0"
      padding-top-mobile="0.5em"
    >
      <h6>Doch diese fortlaufende Akkumulation hinterlässt Spuren – sichtbare Zeichen ebenso wie tiefe Narben. Sie zeigen sich in der Umwelt, in Körpern und in Gemeinschaften. Zugleich wirkt das Prinzip des Anhäufens als treibende Kraft hinter der weltweiten Bewegung von Menschen, Gütern und Kapital.n.</h6>
    </div>
    <hr col-lg="12" class="full-width" padding="0">
    <div
      col-lg="6"
      col-sm="12"
      padding-bottom-mobile="0"
    >
      <h5>im Museum</h5>
      <a-spacer height="10em" height-mobile="0"></a-spacer>
    </div>
    <div
      col-lg="6"
      col-sm="12"
      padding-left="0"
      padding-top-mobile="0.5em"
    >
      <h6>Unser Museum versteht sich als ein offener Ort für alle – ein Raum der Begegnung, des Austauschs und der Auseinandersetzung mit zeitgenössischer Kunst. Uns ist es wichtig, dass sich alle Besucher*innen wohl und sicher fühlen. Deshalb legen wir Wert auf einen respektvollen Umgang und gegenseitige Rücksichtnahme.</h6>
      <br>
      <h6>Wir bitten unsere Besucher*innen herzlich, folgende Hinweise zu beachten, die dem Schutz der Kunstwerke, der anderen Besucher*innen sowie unseres Teams dienen. Mit dem Betreten der Ausstellungsräume erkennt man die Hausordnung des Museums an:</h6>
      <br>
      <h6>
        <ul>
          <li>Diskriminierung, Belästigung, oder unerwünschtes Verhalten gegenüber anderen Besucher*innen oder den Mitarbeiter*innen des Museums wird nicht geduldet.</li>
          <li>Bitte Kunstwerke nicht berühren es sei denn, es ist ausdrücklich erlaubt.</li>
          <li>Kinder unter 12 Jahren sind in Begleitung von Erwachsenen herzlich willkommen. Wir bitten darum, die Aufsichtspflicht wahrzunehmen.</li>
          <li>Rauchen, Rennen, Telefonieren, Essen und Trinken sind in den Ausstellungsräumen nicht gestattet.</li>
          <li>Tiere dürfen nicht mitgebracht werden ausgenommen sind Blinden- und Begleithunde mit gültigem Ausweis.</li>
          <li>Handtaschen und sonstige Gepäckstücke müssen in unserer kostenlosen Garderobe deponiert werden.</li>
          <li>Fotografieren für private Zwecke ist erlaubt jedoch ohne Blitzlicht, Stativ oder Selfie-Stick (Ausnahmen sind gekennzeichnet).</li>
          <li>Die Ausstellungsräume sind aus Sicherheitsgründen videoüberwacht.</li>
          <li>Unser Besucher*innenservice ist gerne für das Publikum da wir bitten alle Besucher*innen, den Anweisungen des Teams zu folgen.</li>
        </ul>
      </h6>
    </div>
  </section>
</o-grid>