<migrosmuseum-a-heading h3-mobile><h2>SAMMLUNG</h2></migrosmuseum-a-heading>
<p class="font-size-big">Ob Geld, Immobilien, Kleidung oder technische Geräte – materielle Besitztümer prägen unseren Alltag. Doch auch immaterielle Güter wie sozialer Status, Einfluss, Wohlstand oder Wissen sammeln sich an. In ihrem Zusammenspiel prägen sie, wie Menschen in sozialen und kulturellen Kontexten wahrgenommen werden.<migrosmuseum-a-link href="./infos/" tag-name="h5" icon-name="Plus" align-items="end">MEHR INFOS</migrosmuseum-a-link></p>
<!--<m-carousel-two namespace=carousel-two-3-column- nav-flex-wrap separate nav-justify-content="end" nav-align-self="end" no-default-arrow-nav no-default-nav no-default-nav-linking>
  <section>
      <m-teaser namespace=teaser-story- color="secondary">
          <figure>
              <a-picture 
                  namespace="picture-teaser-" 
                  picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                  alt="randomized image">
              </a-picture>
              <figcaption>
                  <strong>Teaser 1</strong>
                  <h3>Title</h3>
                  <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
              </figcaption>
          </figure>
      </m-teaser>
      <m-teaser namespace=teaser-story- color="quaternary">
          <figure>
              <a-picture 
                  namespace="picture-teaser-" 
                  picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                  alt="randomized image">
              </a-picture>
              <figcaption>
                  <strong>Teaser 2</strong>
                  <h3>Title longer version</h3>
                  <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
              </figcaption>
          </figure>
      </m-teaser>
      <m-teaser namespace=teaser-story- color="quinary">
          <figure>
              <a-picture 
                  namespace="picture-teaser-" 
                  picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                  alt="randomized image">
              </a-picture>
              <figcaption>
                  <strong>Teaser 3</strong>
                  <h3>Some extra extra extra extra extra long title</h3>
                  <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
              </figcaption>
          </figure>
      </m-teaser>
      <m-teaser namespace=teaser-story- color="senary">
          <figure>
              <a-picture 
                  namespace="picture-teaser-" 
                  picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                  alt="randomized image">
              </a-picture>
              <figcaption>
                  <strong>Teaser 4</strong>
                  <h3>Title</h3>
                  <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
              </figcaption>
          </figure>
      </m-teaser>
      <m-teaser namespace=teaser-story- color="septenary">
          <figure>
              <a-picture 
                  namespace="picture-teaser-" 
                  picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                  alt="randomized image">
              </a-picture>
              <figcaption>
                  <strong>Teaser 5</strong>
                  <h3>Title</h3>
                  <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
              </figcaption>
          </figure>
      </m-teaser>
      <m-teaser namespace=teaser-story- color="senary">
          <figure>
              <a-picture 
              namespace="picture-teaser-" 
              picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
              alt="randomized image">
            </a-picture>
            <figcaption>
                <strong>Teaser 6</strong>
                <h3>Title</h3>
                <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
            </figcaption>
          </figure>
      </m-teaser>
      <m-teaser namespace=teaser-story- color="septenary">
          <figure>
              <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="randomized image">
            </a-picture>
            <figcaption>
                <strong>Teaser 7</strong>
                <h3>Title</h3>
                <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
            </figcaption>
          </figure>
      </m-teaser>
  </section>
  <div>
      <nav>
          <a href="#previous" aria-label="previous slide">
              <a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx icon-name="ArrowLeft" size="1em"></a-icon-mdx></a-button>
          </a>
          <a href="#next" aria-label="next slide">
              <a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx icon-name="ArrowRight" size="1em"></a-icon-mdx></a-button>
          </a>
      </nav>
  </div>
</m-carousel-two>-->
<a-spacer spacer-four></a-spacer>
<migrosmuseum-a-heading><h3>KATALOG</h3></migrosmuseum-a-heading>
<m-tabs namespace="tabs-button-">
  <ul class="tab-navigation">
      <li data-tab="artists">
        <a-button
          href="#artists"
          namespace="button-secondary-"
          tag="artist"
        >Künstler</a-button>
      </li>
      <li data-tab="works">
        <a-button
          href="#works"
          namespace="button-secondary-"
          tag="works"
        >Werke</a-button>
      </li>
      <li>
        <a-input
          col-lg="2"
          col-md="4"
          col-sm="6"
          padding="0"
          min-height="100%"
          placeholder="Suche"
          search
          submit-search="request-catalog-filter-text"
          answer-event-name="catalog-filter-text"
          any-key-listener
          delete-listener
          type="search"
          aria-label="Ausstellung suchen"
        ></a-input>
      </li>
  </ul>
  <migrosmuseum-a-heading shadow></migrosmuseum-a-heading>
  <a-spacer height="2.75em"></a-spacer>
  <section class="tab-content">
    <migrosmuseum-m-catalog names>
      <p class="empty">Keine Ausstellungen gefunden</p>
      <template>
        [{
          "defaultSource": "../../../../img/catalog1.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog2.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog3.jpg",
          "title": "THEO ALTENBERG",
          "description": "Kommune Friedrichshof",
          "descriptionTwo": "Selbstdarstellung, 1975 - 1976",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog4.jpg",
          "title": "THEO ALTENBERG",
          "description": "Kommune Friedrichshof",
          "descriptionTwo": "Selbstdarstellung, 1975 - 1976",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog15.jpg",
          "title": "CARLOS AMORALES",
          "description": "Ohne Titel (Aus der Serie 'The Fear of Returning And Not Being Understood'), 1999",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog16.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog17.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog18.jpg",
          "title": "THEO ALTENBERG",
          "description": "Kommune Friedrichshof",
          "descriptionTwo": "Selbstdarstellung, 1975 - 1976",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog19.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog20.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog21.jpg",
          "title": "CARLOS AMORALES",
          "description": "Ohne Titel (Aus der Serie 'The Fear of Returning And Not Being Understood'), 1999",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog22.jpg",
          "title": "THEO ALTENBERG",
          "description": "Kommune Friedrichshof",
          "descriptionTwo": "Selbstdarstellung, 1975 - 1976",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog5.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog6.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog7.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog8.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog9.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog10.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog11.jpg",
          "title": "CARLOS AMORALES",
          "description": "Ohne Titel (Aus der Serie 'The Fear of Returning And Not Being Understood') 1999",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog12.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog13.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog14.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        }]
      </template>
    </migrosmuseum-m-catalog>
  </section>
  <section class="tab-content">
    <migrosmuseum-m-catalog>
      <p class="empty">Keine Ausstellungen gefunden</p>
      <template>
        [{
          "defaultSource": "../../../../img/catalog1.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog2.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog3.jpg",
          "title": "THEO ALTENBERG",
          "description": "Kommune Friedrichshof",
          "descriptionTwo": "Selbstdarstellung, 1975 - 1976",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog4.jpg",
          "title": "THEO ALTENBERG",
          "description": "Kommune Friedrichshof",
          "descriptionTwo": "Selbstdarstellung, 1975 - 1976",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog15.jpg",
          "title": "CARLOS AMORALES",
          "description": "Ohne Titel (Aus der Serie 'The Fear of Returning And Not Being Understood'), 1999",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog16.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog17.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog18.jpg",
          "title": "THEO ALTENBERG",
          "description": "Kommune Friedrichshof",
          "descriptionTwo": "Selbstdarstellung, 1975 - 1976",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog19.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog20.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog21.jpg",
          "title": "CARLOS AMORALES",
          "description": "Ohne Titel (Aus der Serie 'The Fear of Returning And Not Being Understood'), 1999",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog22.jpg",
          "title": "THEO ALTENBERG",
          "description": "Kommune Friedrichshof",
          "descriptionTwo": "Selbstdarstellung, 1975 - 1976",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog5.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog6.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog7.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog8.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog9.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog10.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog11.jpg",
          "title": "CARLOS AMORALES",
          "description": "Ohne Titel (Aus der Serie 'The Fear of Returning And Not Being Understood') 1999",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog12.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog13.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        },
        {
          "defaultSource": "../../../../img/catalog14.jpg",
          "title": "VITO ACCONCI",
          "description": "My Flesh to Your Bare Bones, 2010",
          "link": {
            "href": "./catalog",
            "target": "_self"
          }
        }]
      </template>
    </migrosmuseum-m-catalog>
  </section>
</m-tabs>
