/**
  * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
  * NOTE: Within the component don't use any name spacing eg. component header don't use --header-default-color just use --color the namespace can be added by the Shadow as an html attribute
  * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
  * - if a component holds other components you should share the attribute namespace with its children
  */
/* font tracking */
@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=b2e5ea60-e0d9-11ec-b713-06e2001461d0");

/* custom alnatura fonts 
  TODO: replace https://www.onlinewebfonts.com/download/7e39d05fff188430a1cb860db9b38881 with cdn fonts
*/
@font-face {
  font-family: "PPMori";
  src: url("https://db.onlinewebfonts.com/t/7e39d05fff188430a1cb860db9b38881.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/7e39d05fff188430a1cb860db9b38881.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPMoriBold";
  src: url("https://db.onlinewebfonts.com/t/7e39d05fff188430a1cb860db9b38881.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/7e39d05fff188430a1cb860db9b38881.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --a-emotion-pictures-margin-top-first-child: 0;
  --header-default-a-menu-icon-padding-top-custom: 0;
  --header-default-height-mobile-custom: 95px;
  --background-color: #ffffff;
  --line-height: 1.234em;
  --bg-line-height: var(--line-height);
  --bg-color: var(--color);
  --color-active: var(--m-orange-600);
  --color-disabled: grey;
  --color-hover: var(--m-orange-600);
  --header-default-margin-mobile-custom: 0;
  --header-default-margin-custom: 0;
  --header-default-background-color-custom: transparent;
  --navigation-default-section-background-color: var(--background-color);
  --header-default-padding: 3em 2em;
  --header-default-padding-mobile: 3em 2em;
  --font-size: 23px;
  --font-size-mobile: 13px;
  --header-default-a-menu-icon-background-color-custom: var(--color);
  --header-default-align-items-custom: center;
  --header-default-flex-direction-mobile: row;
  --navigation-default-color-custom: var(--color);
  --header-default-justify-content-custom: space-between;
  --navigation-default-justify-content: flex-end;
  --color-secondary: #F4F4F4;
  --font-family-bold: PPMoriBold, HelveticaNowTextBold, HelveticaNowText, Helvetica, Arial, sans-serif;
  --font-family-secondary: PPMori, Avenir35Light, sans-serif;
  --font-family: PPMori, HelveticaNowText, Helvetica, Arial, sans-serif;
  --h-color: var(--color-secondary);
  --h1-font-size: calc(1.5 * 1.75em);
  --h6-font-family: var(--font-family-secondary);
  --h6-font-size: var(--h2-font-size, 1.5em);
  --header-default-a-logo-top-custom: calc(60.5px / 2 - 88px / 2);
  --header-default-a-logo-top-mobile-custom: -0.5em;
  --header-default-logo-width-custom: min(9em, 138px);
  --hr-border-bottom: 2px dotted var(--m-gray-600);
  --hr-border-width: 0 0 2px;
  --hr-secondary-border-bottom: 2px solid var(--color-secondary);
  --hr-secondary-opacity: 1;
}
