/**
  * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
  * NOTE: Within the component don't use any name spacing eg. component header don't use --header-default-color just use --color the namespace can be added by the Shadow as an html attribute
  * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
  * - if a component holds other components you should share the attribute namespace with its children
  */

/* custom fonts 
  TODO: replace https://www.onlinewebfonts.com/download/7e39d05fff188430a1cb860db9b38881 with cdn fonts
*/
@font-face {
  font-family: "PPMori";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/PPMori/PPMori-Semibold.woff2") format("woff2"), url("https://cdn.migros.ch/ch.migros/static/fonts/PPMori/PPMori-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPMoriBold";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/PPMori/PPMori-Semibold.woff2") format("woff2"), url("https://cdn.migros.ch/ch.migros/static/fonts/PPMori/PPMori-Semibold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPMoriItalic";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/PPMori/PPMori-SemiboldItalic.woff2") format("woff2"), url("https://cdn.migros.ch/ch.migros/static/fonts/PPMori/PPMori-SemiboldItalic.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --a-color: var(--color);
  --a-text-decoration: underline;
  --any-content-spacing-mobile: 0;
  --any-content-spacing: 0;
  --ArrowUpRight-svg-transform: translateY(0.35em);
  --background-color: #ffffff;
  --bg-color: var(--color);
  --bg-line-height: var(--line-height);
  --box-shadow-mobile: 0px -5.6em 3em -6.4em rgba(0,0,0,1) inset;
  --box-shadow: 0px -6.6em 2.4em -4.4em rgba(0,0,0,0.17) inset;
  --color-active: var(--m-orange-600);
  --color-disabled: grey;
  --color-hover: var(--m-orange-600);
  --color-secondary: var(--color);
  --color-tertiary: #F4F4F4;
  --color: black;
  --content-spacing-mobile: 0.769rem;
  --content-spacing: 1.647rem;
  --content-width-mobile: calc(100% - var(--content-spacing-mobile) * 2);
  --content-width: calc(100% - var(--content-spacing) * 2);
  --details-shadow-a-color: var(--color);
  --details-shadow-a-text-decoration: none;
  --details-shadow-child-margin-custom: 0;
  --details-shadow-details-box-shadow: var(--box-shadow);
  --font-family-bold: PPMoriBold, HelveticaNowTextBold, HelveticaNowText, Helvetica, Arial, sans-serif;
  --font-family-italic: PPMoriItalic, HelveticaNowTextItalic, HelveticaNowText, Helvetica, Arial, sans-serif;
  --font-family-secondary: PPMori, Avenir35Light, sans-serif;
  --font-family: PPMori, HelveticaNowText, Helvetica, Arial, sans-serif;
  --font-size-mobile: min(13px, 4vw);
  --font-size: max(17px, 0.7vw);
  --grid-12er-a-color: --grid-12er-h-color;
  --grid-12er-a-height: auto;
  --grid-12er-a-margin: 0;
  --grid-12er-a-text-decoration: none;
  --grid-12er-a-width: 100%;
  --grid-12er-grid-gap: 0;
  --grid-12er-section-child-padding-mobile: var(--content-spacing-mobile);
  --grid-12er-section-child-padding: var(--content-spacing);
  --grid-12er-width: 100%;
  --h-color: var(--color);
  --h1-font-size-mobile: 4.46em;
  --h1-font-size: 14.12em;
  --h1-line-height: 1;
  --h1-margin: 0 auto 0.8rem;
  --h2-font-size-mobile: 3.54em;
  --h2-font-size: 6.47em;
  --h2-line-height: 1;
  --h2-margin: 0 auto 0.8rem;
  --h3-font-size-mobile: 2.1em;
  --h3-font-size: 3.3em;
  --h3-line-height: 1;
  --h3-margin: 0 auto 0.8rem;
  --h4-font-size-mobile: 2.12em;
  --h4-font-size: 2.12em;
  --h4-line-height: 1;
  --h4-margin: 0 auto 0.8rem;
  --h5-font-size-mobile: 1em;
  --h5-font-size: 1.352em;
  --h5-line-height: 1;
  --h5-margin: 0 auto 0.8rem;
  --h6-font-family: var(--font-family-secondary);
  --h6-font-size: var(--h5-font-size);
  --h6-line-height: 1;
  --h6-margin: 0 auto 0.8rem;
  --header-default-a-menu-icon-background-color-custom: var(--color);
  --header-default-a-menu-icon-padding-custom: 0;
  --header-default-a-menu-icon-padding-open-custom: 0;
  --header-default-a-menu-icon-padding-top-custom: 0;
  --header-default-align-items-custom: center;
  --header-default-background-color-custom: var(--background-color);
  --header-default-flex-direction-mobile: row;
  --header-default-font-size-mobile: var(--font-size);
  --header-default-h3-font-size: var(--h3-font-size);
  --header-default-height-mobile-custom: 5.225em;
  --header-default-justify-content-custom: space-between;
  --header-default-logo-width-custom: max(11em, 198px);
  --header-default-margin-mobile-custom: 0;
  --header-default-padding-mobile: 1.35em var(--content-spacing);
  --header-default-position-open-mobile-custom: static;
  --hr-border-bottom: 2px dotted var(--m-gray-600);
  --hr-border-width: 0 0 2px;
  --hr-secondary-border-bottom: 2px solid var(--color-secondary);
  --hr-secondary-opacity: 1;
  --line-height: 1.234em;
  --logo-default-width-mobile-custom: min(8.5em, 107px);
  --m-orange-600: #F60;
  --menu-icon-font-size: 2.5em;
  --navigation-default-with-styles-a-margin-mobile: 0;
  --navigation-default-with-styles-a-text-decoration: none;
  --navigation-default-with-styles-color-custom: var(--color);
  --navigation-default-with-styles-h4-margin-mobile: 0;
  --navigation-default-with-styles-justify-content: flex-end;
  --navigation-default-with-styles-language-switcher-align-items-mobile: flex-end;
  --navigation-default-with-styles-language-switcher-flex-last-child-mobile: 1;
  --navigation-default-with-styles-language-switcher-gap: 1.59em;
  --navigation-default-with-styles-language-switcher-justify-content-last-child-mobile: flex-end;
  --navigation-default-with-styles-language-switcher-justify-content: flex-start;
  --navigation-default-with-styles-language-switcher-margin-last-child-mobile: 0 calc(-1 * var(--content-spacing) / 2) 0 0;
  --navigation-default-with-styles-language-switcher-padding: 0 var(--content-spacing);
  --navigation-default-with-styles-section-background-color: var(--background-color);
  --p-margin: auto;
  --picture-grid-img-height: 100%;
  --picture-grid-img-min-height: 100%;
  --picture-grid-img-min-width: 100%;
  --picture-grid-img-object-fit: cover;
  --picture-grid-img-width: 100%;
}
/* color schemes */
:root {
  --color-scheme-one-background-color: #7124A7;
  --color-scheme-one-color: #DFEA52;
  --color-scheme-two-background-color: #BFE9FF;
  --color-scheme-two-color: #5B3A47;
}
/* header has a breakpoint of (mobile-breakpoint="100000000px"), due to that, it is always in mobile mode. The below allows the actual mobile settings/overwrites below 1200px, same as in the Environments.js */
@media only screen and (max-width: 767px) {
  :root {
    --ArrowUpRight-svg-transform: translate(-0.3em, 0.35em);
    --h4-font-size-mobile: 1.23em;
    --h6-font-size: 0.777em;
    --header-default-font-size-mobile: var(--font-size-mobile);
    --header-default-height-mobile-custom: 8.155em;
    --header-default-padding-mobile: 4.23em var(--content-spacing-mobile) 1.231em;
    --menu-icon-font-size: 1.35em;
    --navigation-default-with-styles-language-switcher-align-items-mobile: flex-start;
    --navigation-default-with-styles-language-switcher-flex-direction: column;
    --navigation-default-with-styles-language-switcher-gap-mobile: 0.62em;
    --navigation-default-with-styles-language-switcher-padding: 1.31rem var(--content-spacing-mobile) 0;
  }
}
